.card {
    /*width: 18rem;*/
   }

/*Needed because long course list is problem*/
.scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}
.offyear{
    background: lightblue;
    display:none;
}


.progress{
	background: black;
}

.coursename{
	font-size:75%
}
/* Overrides list-group-item from Bootstrap */ 
/*.list-group-item {
    padding: 1px 1px
    height: 10px;
}*/

#inout{
	font-size: 10px;
	min-width: 100%;
	white-space: pre;
}

.navbar-brand{
    background-image: url('../img/saas.svg');
    background-repeat: no-repeat;
    color:transparent !important;
}

.regbutton {
    text-align: right;
    display: inline-block;
    padding: 15px 32px;
    border: 2px solid blue;
    -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  color: blue;
  font-size: 15px;
  background-color: white;
margin-top:30px;
}

.regbutton:hover {
  background-color: blue;
  color: white;
}